{
    auto_https off
}

:80 {
    handle /rest/* {
        reverse_proxy kong:8000
    }
    handle /auth/* {
        reverse_proxy kong:8000
    }
    handle /realtime/* {
        reverse_proxy kong:8000
    }
    handle /export/* {
        reverse_proxy export_api:8100
    }
    handle /projects/*/layers {
        reverse_proxy export_api:8100
    }
    handle {
        reverse_proxy kong:8000
    }
}
